* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 35px;
   font-family: 'Teco', sans-serif;
    color: midnightblue;
}

h1 {
    font-size: 1.5rem;
    color: mintcream;
    padding-left: 0px;
    text-align: center;
}

h2 {
    font-size: 1rem;
    padding-left: 5px;
    border-bottom: 2px solid chocolate;
    color: teal;
    background-color: rgba(0,122,72,1);
}
li{
    padding-left: 20px;
    margin-bottom: -10px;    
}
ul{
    list-style-position: inside;    
}
header, main, footer {    
    padding: 15px;
    max-width: 960px;
}
main{
padding: 7px;
margin-left: 24px;    
}
header, footer {
    background: rgb(57,135,0);
    background: linear-gradient(45deg, rgba(57,135,0,1) 0%, rgba(0,122,72,1) 35%, rgba(14,65,0,1) 100%);    
    padding: 7px;
    margin:14px 14px  14px; 
}
#content{    
    max-width: 760px;
    margin:0px auto;
}

footer p {
    text-align: center;    
    color: white;
    font-size: 10pt;
}
footer .date {
    color: antiquewhite;
    text-align: center;
    font-size: 8pt;
    margin-top:-10px;
}
#robert{    
    text-align: center;
}
#photo img{
    display: block;
    margin: 0px auto;    
    border-radius:15px;      
}
#portal_assigment{
    margin-right: 45px;
}
footer a:visited{
    color: yellowgreen;
}
footer a:link{
    color:white;
}
#centered p{
    text-align: center;
}
section{
    border: solid green;
}