@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
$font-size:24px;
body{
    font-family: 'Indie Flower', cursive;
    font-size: $font-size;
}
a{
    font-size: $font-size;
}