.floatupleft{
    float: left;
    height: 230px;
}
.floatdownrigth{
    float: right;
    height: 230px;
}
.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  }
  .item-a {
    grid-area: header;
    he
  }
  .item-b {
    grid-area: main;
  }
  
  .item-d {
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header main main main"
      "main main main main"
      "main main  main . footer";
  }