* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header, main, footer {    
        
        max-width: 960px;        
        }
    header, footer {
            background:linear-gradient(80deg, #1394f6 0%, #0e81d8 50%, #095fa1 100%);
            color: ffffff;         
            margin:14px 4px 14px 4px; 
        }
    main, footer{
            padding: 15px;

        }
    header{
        min-height: 80px;
        background-color: #c75c5c;
    }    

    h1 {        
        font-size: 1.5rem;
        color: mintcream;
            text-align: center;
            margin-block-start: 0em;
            margin-block-end: 0em;
            
        }
    h2 {
            font-size: 1rem;
            border-bottom: 2px solid #c75c5c;
            color: #cfeaff;
            background-color:#1394f6;
            text-align: center;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }        
    h3 {
        font-size: 0.8rem;        
        color: #cfeaff;
        background-color:#1394f6;
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: 0em;
       }                
#subtitle{
    text-align: center;
    color:wheat;
}
#centered{
    text-align: center;
    }



.logod{
    float: left;
    background-color:#cfeaff;
    min-height: 80px;
    padding: 15px 15px;


    }
.logo{
    width: 50px;
}
.title{    
    text-align: center;
}
nav{
    background:linear-gradient(80deg, #1394f6 0%, #0e81d8 50%, #095fa1 100%);    
    padding: 0px;
    margin:14px 4px 14px 4px; 
    color:white;        
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-width:1600px;    
    background: linear-gradient(80deg, #A4A4AC 0%, rgb(145, 145, 155) 50%, rgb(114, 114, 126) 100%);
    text-align: center;
    border-bottom: 2px solid #c75c5c;
}
li a{
    display: block;
    color: white ;        
    padding: 8px 16px;
    text-decoration: none;    
}
nav li :hover{
    background-color: rgba(70, 70, 70, 0.25);
    color: #cfeaff;
    }

footer p {
    text-align: center;    
    color: white;
    font-size: 10pt;
}
footer .date {
    color: antiquewhite;
    text-align: center;
    font-size: 8pt;
    margin-top:-10px;
}

section{
   background-color: #cfeaff;
   border-radius: 0px;
   margin-bottom: 15px;
   
   
}
section p{
    font-size: 14px;    
    padding: 10px;
}

article{
    display: grid;
    justify-content: stretch;    
    grid-template-columns: 1fr;    
    grid-column-gap: 16px;
    padding: 7px;
    }
    
body {
    font-size: 16px;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #4F5D73;
}
img{
    display: block;
    width: 93%;
    margin: 0px auto;

    }
.active{
    background-color: rgba(70, 70, 70, 0.25);
    color: #cfeaff;   
}