@media only screen and (min-width: 33.85em){
    h1 {
        font-size: 1.8rem;
        }
     
    h2 {
            font-size: 1.2rem;            
            background-color:linear-gradient(80deg, #1394f6 0%, #0e81d8 50%, #095fa1 100%);
            text-align: center;
            margin-block-start: 0em;
            margin-block-end: 0em;
    }
    h3 {
        font-size: 1.1rem;
    }
    header, footer {
        border-radius: 10px;     
    }
    #hhead{
        margin-left: 25px;
    }
    
    .menu{
        display: flex;
     
    }
    .menu li{
        display: block;
        flex: 1 1 100%;
    }

    
   .menu li a{     
       display: block;   
        color: white ;  
        padding: 8px 16px;
        text-decoration: none;    
        text-align: center;
    }

    .menu li:first-child{
        display:none;
    }
    
    
    .third{
        grid-column: span 2;
    }
    .third img{
        max-width: 450px;
        margin: 0px auto;  
    }
    article{
        display: grid;
        justify-content: stretch;
        max-width: 960px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        }
    img{        
        margin: 0px auto;            
        }
    #example_image{
        display: block;
        text-align: center;
    }
}
    