*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
    height: 100vh;
    width: 100vw;
}
article{
    background-color:lightseagreen;
    width: 25vmin;
    height: 25vmin;
    padding: 1vmin;
}
.ball{
    width: 25%;
    height: 25%;
    background-color: palevioletred;
    border-radius: 50%;
}
.ball-1{
    animation: ball-1 3s ease 0s infinite normal none;
}
.box-a{
    display: flex;    
    
}
@keyframes ball-1{
    0% {transform: translate(0%,0%)}
    5% {transform: translate(0%,0%)}
    25% {transform: translate(300%,0%)}
    30% {transform: translate(300%,0%)}
    50% {transform: translate(300%,300%)}
    55% {transform: translate(300%,300%)}
    75% {transform: translate(0%, 300%)}    
    80% {transform: translate(0%, 300%)}    
    100% {transform: translate(0%,0%)}
}
.ball-2{
    animation: ball-2 3s ease 0s infinite normal none;
}
.box-b{
    display: flex;
    align-items: center;
    justify-content: center;    
}

@keyframes ball-2{    
    25% {border-radius:0px;
    background-color: white}
    50% {border-radius:50%;
    transform: rotate(0deg);
    border-radius:0px;} 
    75%{transform: rotate(90deg);
    background-color: white;
    border-radius:0px;}
    100%{transform: rotate(90deg);
    background-color: palevioletred;
    border-radius:50%;}
}
.ball-4{
    animation: ball-4 1s ease 0s infinite normal none;
}
.box-d{
    display: flex;
    align-items: center;
    justify-content: center;    
}

@keyframes ball-4{    
    
    70% {transform: scale(1);}
    76% {transform: scale(1.3);}
    82% {transform: scale(1);}
    88% {transform: scale(1);}
    94% {transform: scale(1.3);}
    100%{transform: scale(1);}
}
