//Variables
$p-color: #6495ED;
$m-color:#FAEBD7;
$a-hover-active:#DEB887;
$post-color:black;
$article-back-color:white;
$post-date-color:#838383;
//mixing
@mixin p-font{
    font-family: 'Helvetica', arial, sans-serif;
}


//css
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/*general*/
*{
    margin: 0;
}
main{
    background-color:$m-color; 
    padding: 33px 20px;
}
a, a:visited{
    color: $p-color;
    text-decoration: none;
}
a:active, a:hover{color: $a-hover-active;}
/*header*/
header{    background-color: $p-color;
    padding:58px 20px 42px; 
    a,  a:visited{    color:$m-color;
    
    }
    a:active, a:hover{
        color: $a-hover-active;    
    }
    h1{
        font-family: 'Lora', serif;
         font-size: 32px;
         letter-spacing: -1px;
         text-align: right;
         margin-bottom: 20px
     }
}




hr{
    margin: 10px 0
}


li{
   list-style: none;
@include p-font;
text-align:right;
    margin: 12px 0;
    
}

/*body*/

p {
    @include p-font;
}
section{
    
}
article{
    
    padding: 34px 32px;
    background-color:$article-back-color;
    margin-bottom: 33px;
    box-shadow: 4px 4px 5px rgb(0,0,0,0.2);
    h2{

    a, a:visited{
        color: $post-color;
        font-size: 28px;
    }
    a:active{    color:$a-hover-active; 
    }
    a:hover{
       color:$p-color;
    }    }
    figure img{
        width: 200px;
        display: block;
        margin: 0 auto;
        
    }
    
}

h2{
    font-family: 'Lora', serif;
}

.post-date{
    color: $post-date-color;
    
    margin-bottom: 9px;
    @include p-font;
}
figure {
    padding: 66px 40px 20px;
    
}

.post-content{
    color: $post-color;
    
}
@media only screen and (min-width:550px){
    article{
        max-width: 600px;
        margin: 0 auto 33px;
    }
    body>div{        
        display: grid;
        justify-content: stretch;
        grid-template-columns: 273px 1fr;
    }
}