form ul{
    padding-right: 20px;
}
form li {
    color: rgb(20, 20, 90);
    font-family: 'Sarabun', sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: right;
    
}
form h4{
    color: rgb(20, 20, 90);
    text-shadow: none;
}
form h4:hover{
    color: rgb(20, 20, 90);
    text-shadow: none;
}
form p{
    color: darkblue;    
}
.onTop{
    z-index: 2;
    position: absolute;
    left: 10px;
}
.formPhoto{
    z-index: 1;
    width: 100%;  

}
.formGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input{
    border: none;
    background-color: rgba(231, 244, 255, 0.589);
    border-radius: 30px;
    padding: 5px;
    color: rgb(20, 20, 90);

}