/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */

@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

:root {
  /* change the values below to your colors from your palette
  Deep Lemon (#F7C91F), Dark Liver (#52514E), Metallic Bronze (#AA7942), Saffron (#F7B434), Tenné or Tawny (#D36300) and Dark Charcoal (#2F2F2F) */
  --primary-color: #ffc700;
  --secondary-color: #ffffff;
  --accent1-color: #27120a;
  --accent2-color: #452e19;
  --background: #1a1e20;

  /* change the values below to your chosen font(s) */
  --heading-font: "Josefin Sans", sans-serif;
  --paragraph-font: "Sarabun", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(
    --accent2-color
  ); /* headlines on a white background */
  --headline-color-on-color: var(
    --primary-color
  ); /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --accent2-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: var(
    --secondary-color
  ); /* paragraph text on a colored background */
  --paragraph-background-color: var(--accent2-color);
  --headline-background-color: var(--accent1-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--primary-color);
  --nav-hover-background-color: var(--accent2-color);
}

/*  Look around below...but DON'T CHANGE ANYTHING! */
* {
  margin: 0;
}
body {
  font-size: 18px;
  text-align: center;
  background-color: var(--background);
  color: var(--paragraph-color-on-color);
}
p {
  color: var(--paragraph-color-on-color);
  font-family: var(--paragraph-font);
}
header {
  display: grid;
  background: var(--accent1-color);
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-content: center;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--headline-background-color);
}
section {
  padding: 30px 0;
  max-width: 1080px;
  margin: 0 auto;
}
.totalwidth {
  width: 100%;
}
.mitadwidth {
  width: 50%;
  padding-left: 20px;
}
.right {
  float: right;
  max-width: 400px;
}
.social {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.social img {
  height: 30px;
  width: 30px;
}
.logo {
  
  width: 80px;
  max-width: 100%;
  justify-content: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
  text-shadow: rgb(255, 218, 86, 0.4) 0px 0px 30px, #2f0d00 0px 0px 6px,
    black 0px 0px 3px;
  transition: 0.4s;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  text-shadow: rgb(255, 218, 86, 1) 0px 0px 30px, #2f0d00 0px 0px 6px,
    black 0px 0px 3px;
}

h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
  border: solid var(--accent2-color) 1px;
}

header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: var(--accent1-color);
  font-family: var(--paragraph-font);
}
.colors td {
  width: 25%;
  height: 3em;
  font-family: var(--paragraph-font);
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
.background {
  background-color: var(--background);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  text-align: center;
  list-style-type: none;
  display: flex;
  font-family: var(--paragraph-font);
  justify-content: space-around;
  align-content: center;
}
nav a {
  text-decoration: none;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: var(--accent2-color);
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: var(--nav-hover-background-color);
  line-height: 3em;
  font-family: var(--paragraph-font);
}
.sm-page2 {
  grid-area: page2;
  background-color: var(--paragraph-background-color);
  line-height: 3em;
  font-family: var(--paragraph-font);
}
.sm-page3 {
  grid-area: page3;
  background-color: var(--nav-background-color);
  color: var(--accent1-color);
  line-height: 3em;
  font-family: var(--paragraph-font);
}
.centered {
  display: flex;
  justify-content: center;
}
.top_fixo {
  position: absolute;
  top: 75px;
  text-align: center;
  margin: 0 auto;
}
.summary {
  font-family: var(--heading-font);
  font-weight: bolder;
  color: var(--accent1-color);
  background-color: var(--secondary-color);
  padding: 5px;
}
.space {
  height: 65px;
}
.lefted {
  position: absolute;
  top: 150px;
  text-align: left;
  z-index: 2;
}

.imgderecha {
  display: grid;
  grid-template-columns: 4fr minmax(200px, 2fr);
}
.imgderecha img {
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .imgderecha {
    grid-template-columns: 1fr;
  }
}
