* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 35px;
   font-family: 'Teco', sans-serif;
    color: midnightblue;
}

h1 {
    font-size: 3rem;
    color: mintcream;    
}

h2 {
    font-size: 2rem;
    padding-left: 20px;
    border-bottom: 1px solid chocolate;
    color: teal;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 0.5rem;
    max-width: 960px;
}
header, footer {
    background-color: darkgreen;
    border-radius: 10px;
    padding: 7px
}

footer p {
    text-align: center;    
    color: white;
}
footer .date {}
#photo{
    float: right;
    top: 10px;
    margin: 10px;    
    background-color:rgba(100, 149, 237, 0.05);
    border: solid thick rgba(100, 204, 250, 0.1);
    border-radius:50px;  
}