* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 35px;
   font-family: 'Teco', sans-serif;
    color: midnightblue;
}

h1 {
    font-size: 3rem;
    color: mintcream;    
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid chocolate;
    color: teal;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 0.5rem;
    max-width: 960px;
}
header, footer {
    background-color: darkgreen;
}

footer p {
    text-align: center;
    background-color: white;
    color: white;
}
footer .date {
#photo{
    position: absolute;
    top:100px;
    width: 200px;
    margin: 300px;
    margin-left: 20px;
    background-color:rgba(100, 149, 237, 0.05);
    padding: 2px;
    border: solid thick rgba(100, 204, 250, 0.1);
    border-radius:30px;  
}