*{
  margin: 0;
}
#content{
  max-width: 1600px;    
  margin: 0 auto;
}
nav, a, #hero-msg h1, #hero-msg h4, .button-box, main section{
  text-align: center;
}
#background{
  height: 725px;
  background-color: #FC8801;
}

:root {  
  --primary-color: #FC8801   ;
  --secondary-color: #09A4E4 ;
  --accent1-color: #123365;
  --accent2-color: #162546;
  --background-color: #AFE7FF;
  --headline-color-on-white: #123365;
  --headline-color-on-color: #123365;
  --paragraph-color-on-white: #162546;
  --paragraph-color-on-color: #162546;
  --paragraph-background-color: white  ;
  --nav-link-color: #162546;
  --nav-background-color: #09A4E4;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #FC8801;
}
.book, footer a{
  text-decoration: none;
}
nav a, .join{
  background-color: var(--nav-background-color);
  color: var(--accent1-color);
  text-decoration: none;
  
}

nav a:hover, .join:hover{
  background-color: var(--nav-hover-background-color);
  color: white;
}
nav a:link{
  /*background-color: var(--nav-hover-background-color);
  color: var(--nav-link-color);*/
}
footer, footer a{
  color: white;
}

body{
  background-color: var(--background-color);

}
header{background-color: var(--nav-background-color);}
.msg{background-color: var(--paragraph-background-color);
  margin: 10px 0px;}
footer{background-color: var(--accent1-color)}
.logo{
  width: 130px;
}
.icon{
  width: 80px;
}
.social a img{
  width: 30px;
}
#hero-img{
  width:100%;
}