* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    main {    
        
        max-width: 960px;        
        }
    header, footer {
        margin:14px 0px 0px 0px; 
        }
    main, footer{
            padding: 15px;

        }
    footer{ 
        background:linear-gradient(80deg, #1394f6 0%, #0e81d8 50%, #095fa1 100%);
        color: ffffff;         
    }
    header{
        height: 80px;
        color: #1394f6;
        display: flex;
        align-items: center;
        justify-content:center;
    }    
    header img .logod{
        width: 80px;
        height: auto;
    }
    .hhead{
        display: flex;
        flex-direction: column;
    }    
    
        #subtitle{
        text-align: center;
        color:#1394f6;
        font-size: 13px;
    }
    #centered{
        text-align: center;
        }       
    
    .logod{
        float: left;
        
        min-height: 80px;
        padding: 15px 15px;
        }
    .logo{
        width: 80px;
    }
    .title{    
        text-align: center;
    }
    #twn_name{
        margin-bottom: 12px;
    }
   
    
    h1 {        
        font-size: 0.9rem;
        color:#1394f6;
            text-align: center;
            margin-block-start: 0em;
            margin-block-end: 0em;           
            
        }
    h2 {
            font-size: 1rem;
            border-bottom: 2px solid #c75c5c;
            color: #cfeaff;
            background-color:#1394f6;
            text-align: center;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }        
    h3 {
        font-size: 1.8rem;
            color: #1394f6;
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: 0em;
        
       }

nav{
    background:linear-gradient(80deg, #1394f6 0%, #0e81d8 50%, #095fa1 100%);    
    padding: 0px;
    margin:14px 0px 14px 0px; 
    color:white;
    position: sticky;
    position: -webkit-sticky;     
}
.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-width:1600px;    
    background:linear-gradient(80deg, #1394f6 0%, #0e81d8 50%, #095fa1 100%);    
    text-align: center;
    border-bottom: 2px solid #c75c5c;    
}
.menu li:first-child{
    display: block;
}
    .menu li{
        display: none;
}
.menu li a{
    display: block;
    color: white ;        
    padding: 8px 16px;
    text-decoration: none;    
}
.responsive li{
    display: block;
}
.menu li :hover{
    background-color: rgba(70, 70, 70, 0.25);
    color: #cfeaff;
    }

footer p {
    text-align: center;    
    color: white;
    font-size: 10pt;
}
footer .date {
    color: antiquewhite;
    text-align: center;
    font-size: 8pt;
    margin-top:-10px;
}

section{
   background-color: #cfeaff;
   border-radius: 0px;
   }
section p{
    font-size: 14px;    
    padding: 10px;}
#forecast{
    display: none;
}

    
article{
    display: grid;
    justify-content: stretch;    
    grid-template-columns: 1fr 1fr;    
    grid-column-gap: 16px;
    padding: 7px;}
    
body {
    font-size: 16px;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #4F5D73;
}
.heroImage{
    /*background-image: url("/robertgovia.github.io/lesson5/img/spiralstorm1.jpg");
    background-image: url("/lesson5/img/spiralstorm1.jpg");
    background-size:cover;*/
    position: relative;
    min-height: 171px;
    
    /*background-position-y: bottom ;
    background-position-x: center;*/
}
.heroImage img{
    max-height: 225px;
    object-fit: cover;
    object-position: center;
}
img{
    display: block;
    width: 100%;
    margin: 0px auto;

    }
    .three_middle{
        line-height: 7px;
    }

    section img {
        display: block;
        width: 100%;
        /*height: 183px;*/
        margin: 0px auto;
        object-fit: cover;        
        object-position: center;        
    }
    .height{
        max-width: 500px;         
        min-height: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        
        }

        .height img{
        max-width: 500px;        
        height: 100%;
       object-fit: cover;
       object-position: top;
        
        }
.active{
    background-color: rgba(70, 70, 70, 0.25);
    color: #cfeaff;   
}

.image_gallery{
    display: grid;
    grid-template-columns:repeat(1, minmax(00px, 2fr));
    grid-gap: 15px;
    justify-content: center;       
}
/*Table styles*/
.upper{
    display: block; 
}
.upper input{
    padding-left: 20px;
    color: darkblue;
    display: block;
    max-width: 400px;
    width: 100%;
    height: 46px;
    border-radius: 0 20px 20px 10px;
}
input{
    padding:7px;
    margin-top: 2px;
}
fieldset{
    border:solid rgba(78, 118, 163, 0.05);
    
    background-color: rgba(203, 231, 255, 0.822);
    color:rgb(9, 51, 75);
    max-width: 420px;
    width: 100%;
    padding: 20px;
    margin: 0 auto 30px;
    border-radius: 0px;
}
legend{
    border-radius: 10px;
    color:white;
    background:linear-gradient(80deg, #1394f6 0%, #0e81d8 150%);
    padding: 0 15px;
    font-weight: 500;
    font-size: x-large;
}
.lefted{
    color: rgb(0, 66, 128);
    display: block;
   }
label{
    margin: 10px 0 0 0;
}
p#ratingvalue{
    color: rgb(0, 62, 196);
    text-align: center;
    display: block;
    text-align: center;
    margin-left: -82px;
}
option :disabled{
    color: gray;
}

input[type="range" i] {
    display: block;
    width: 100%;
    max-width: 320px;
    ;
}
.radio label{
    display: inline-flex;

}
input[type="radio" i]{
   width: 30px;
   max-width: 30px;
   height: 30px;  
   position: static;
  align-self: center;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -7px;
}
.tt{
    display: inline;
    padding-bottom: 67px;
}
label{
    font-size: 14pt;
}
label.lefted{
    color: rgb(12, 54, 71);
    line-height: 30px;
    padding-top: 10px;
}
textarea {
    overflow: auto;
    border-radius: 0 30px 30px;
    margin-bottom: -10px;
}
[type="submit"]{
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 0 15px 15px;
}
input[type="date" i]{
    padding: 7px;
    margin-top: 1px;
}
.required{
    color: red;
}
select{
    padding: 7px;
}
.thanks{
    height: 500px;
    margin: 0 auto;
    
    
}
.vertical_aling-text{
    position: relative;
vertical-align: middle;
display: flex;
justify-content: center;
flex-direction: column;
height: 100%;
text-align: center;
}