@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/*general*/
*{
    margin: 0;
}
main{
    background-color:#FAEBD7; 
    padding: 33px 20px;
}
a, a:visited{
    color: #6495ED;
    text-decoration: none;
}
a:active, a:hover{color: #DEB887;}
/*header*/
header{    background-color: #6495ED;
    padding:58px 20px 42px; 
}
hr{
    margin: 10px 0
}

header a, header a:visited{    color:#FAEBD7;
    
}
header a:active, header a:hover{
    color: #DEB887;    
}

header h1{
   font-family: 'Lora', serif;
    font-size: 32px;
    letter-spacing: -1px;
    text-align: right;
    margin-bottom: 20px
}
li{
   list-style: none;
font-family: 'Helvetica', arial, sans-serif;
text-align:right;
    margin: 12px 0;
    
}

/*body*/

p {
    font-family: 'helvetica', arial, sans-serif;
}
section{
    
}
article{
    
    padding: 34px 32px;
    background-color:white;
    margin-bottom: 33px;
    box-shadow: 4px 4px 5px rgb(0,0,0,0.2);
    
}
article h2 a, article h2 a:visited{
    color: black;
    font-size: 28px;
}
article h2 a:active{    color:#DEB887; 
}
article h2 a:hover{
   color:#6495ED;
}
h2{
    font-family: 'Lora', serif;
}

.post-date{
    color: #838383;
    
    margin-bottom: 9px;
    font-family: 'Helvetica', arial, sans-serif;
}
figure {
    padding: 66px 40px 20px;
    
}
article figure img{
    width: 200px;
    display: block;
    margin: 0 auto;
    
}
.post-content{
    color: black;
    
}
@media only screen and (min-width:550px){
    article{
        max-width: 600px;
        margin: 0 auto 33px;
    }
    body>div{        
        display: grid;
        justify-content: stretch;
        grid-template-columns: 273px 1fr;
    }
}