//variables
$back: #3787ff;
$object: white;
$fillr:nonzero;
$work:rgba(0, 128, 0, 0.568);
//$fillr:evenode;
$bold:4px;
$light:0.7px;
$bsize:4;
$ssize:2;
$csize:7;


//css
.card{
    border: solid $bold $back;
    fill: $object;
    border-radius: 10px;
}
.back{
    fill: $back;
    fill-rule:$fillr;
    
}
.backo{
    fill: $back;
    stroke: $back;
    stroke-width: $bold;
    
}
.object{
    fill:$object;       
    
}
#moon{
    transform: scale($bsize);
}
.w{
    fill: $back;
    stroke: $back;
    stroke-width: $light;
}
.size{
    transform: scale($csize);
}