//variables
$back: #3787ff;
$object: white;
$rback: red;

$fillr:nonzero;
$work:rgba(0, 128, 0, 0.568);
//$fillr:evenode;
$bold:4px;
$light:0.7px;
$bsize:4;
$ssize:2;
$csize:7;


//css
.card{
    border: solid $bold $back;
    fill: $object;
    border-radius: 10px;
}
.rcard{
    border: solid $bold $rback;
    fill: $object;
    border-radius: 10px;
}
.back{
    fill: $back;
    fill-rule:$fillr;    
}
.rback{
    fill: $rback;
    fill-rule:$fillr;    
}
.rbacko{
    fill: $back;
    stroke: $back;
    stroke-width: $bold;
    
}
.rbacko{
    fill: $rback;
    stroke: $rback;
    stroke-width: $bold;
    
}
.object{
    fill:$object;       
    
}
#moon{
    transform: scale($bsize);
}
.w{
    fill: $back;
    stroke: $back;
    stroke-width: $light;
}
.size{
    transform: scale($csize);
}
@keyframes pulse{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(90);

    }
}
    

@keyframes amoon{
    from{
    transform:scale(1);
}
to{
    transform:scale($bsize);
}
}
@keyframes right{
    from{
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to{
        transform: translate(10px,0px);
        opacity: 0;

    }
}
#crece{    
    animation: right 5000ms 2;
    animation-delay: 5000ms;
    animation-direction: alternate;
}
#moon{
    animation: amoon 5000ms;
}
@keyframes rightcloud{
    from{
        transform: translate(0px,0px);
    }
    to{
        transform: translate(10px,0px);
    }
}

.pepe{
    animation: right 4000ms infinite;
}
@keyframes cright{
    from{
        transform: translate(0px, 0px);       
    }
    to{
        transform: translate(5px,0px);       
    }
}
#cright{
    animation: cright 3000ms infinite;
    animation-direction: alternate;
}
.rotate{
    transform: rotate(90deg);
}
.arcfont{
    transform: scale(.2,1.4);
    
}
#arc{
    transform: translate(1px, 14px);
    
    fill: blue;
}
.bigLeftcorner{
    transform: scale($csize);
    
}