@media only screen and (min-width: 33.85em){
    h1 {
        font-size: 1.8rem;
        }
     
    h2 {
            font-size: 1.2rem;
            border-bottom: 2px solid chocolate;
            color: rgb(190, 224, 36);
            background-color: rgba(0,122,72,1);
            text-align: center;
            margin-block-start: 0em;
            margin-block-end: 0em;
    }
    h3 {
        font-size: 1.1rem;
    }
    header, footer {
        border-radius: 10px;     
    }
    nav{
        background: rgb(57,135,0);    
        padding: 0px;
        margin:14px 4px 14px 4px; 
        color:white;        
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
    nav li{
        float: left;
    }
    
   nav li a{
        
        color: white ;        
        padding: 8px 16px;
        text-decoration: none;    
        text-align: center;
    }

    section{
       border: solid green;
       border-radius: 10px;              
    }
    .third{
        grid-column: span 2;
    }
    .third img{
        max-width: 450px;
        margin: 0px auto;  
    }
    article{
        display: grid;
        justify-content: stretch;
        max-width: 960px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        }
    img{        
        margin: 0px auto;            
        }
    #example_image{
        display: block;
        text-align: center;
    }
}
    